.swiperContainer {
    position: relative;
    width: 100%;
    height: 100%;
}
.swiperWrapper {

}
.swiperPagination {


}
.swiperSlide {
    background-color: transparent !important;
    width: 800px;
    margin-right: 30px;
    border: none;
}

.swiperSlide:nth-last-child(1) {
    margin-right: 0;
}

.swiperButtonNext,
.swiperButtonPrev {
    position: absolute;
    top: initial;
    top: 40%;
    width: auto;
    height: auto;
    z-index: 10;
    cursor: pointer;
    display: block;
    color: transparent;
    outline: 0px !important;
    -webkit-appearance: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.swiperButtonNext {
   right: 20px;
}
.swiperButtonPrev {
    left: 20px;
}
.swiperSlide  div[class*="content-column"] {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.swiperContainer div[class*="swiper-slide-active"] div[class*="content-column"] {
    opacity: 1;
    visibility: visible;
}

@media screen and (max-width: 1300px) {
    .swiperSlide {
        width: 650px;
    }
}
@media screen and (max-width: 1199px) {
    .swiperSlide {
        width: 510px;
        margin-right: 30px;
    }
}

@media screen and (max-width: 991px) {
     .swiperSlide {
        width: 400px;
    }
    .swiperButtonNext,
    .swiperButtonPrev {
        position: absolute;
        top: 42%;
    }
}
@media screen and (max-width: 768px) {
    .swiperSlide {
        width: 450px;
        margin-right: 30px;
    }
}
@media screen and (max-width: 575px) {
     .swiperButtonNext {
        right: 15px;
    }
    .swiperButtonPrev {
        left: 15px;
    }
    .swiperSlide {
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        margin-right: 0;
    }
}

@media screen and (max-width: 450px) {
    .swiperButtonNext,
    .swiperButtonPrev {
        position: absolute;
        top: 350px;
    }
    .swiperButtonPrev {
        left: 30px;
    }
    .swiperButtonNext {
        left: 80px;
    }
    .swiperSlide {
        padding-left: 30px;
        padding-right: 30px;

    }

}
