.form {
    padding-top: 40px;
    display: grid;
    row-gap: 15px;
}

.form input::-webkit-outer-spin-button,
.form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.topRow {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}

.bottomRow {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}
.form div[class*="form-group"] {
    margin-bottom: 0 !important;
}
.form div[class*="form-row"] {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.bottomLevel {
    padding-top: 0;
}
.buttonRow {
    display: grid !important;
    grid-template-columns: 1fr auto 1fr;
}
.buttonRow > div {
    padding-top: 25px;
    grid-column: 2/3;
}

@media screen and (max-width: 991px) {

    .form-hotels .bottom-level .form-group {
        margin-bottom: 30px !important;
    }
    .form-hotels .bottom-level .form-group:nth-of-type(1) {
        margin-top: 15px !important;
    }
    .form-hotels .bottom-level .form-group:nth-of-type(2) {
        margin-bottom: 0 !important;
    }
}
@media screen and (max-width: 768px) {
    .form {
        padding-top: 30px;
    }
    .buttonRow > div {
        padding-top: 15px;
    }
}

@media screen and (max-width: 575px) {
    .topRow {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
    .bottomRow {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
    .form {
        row-gap: 20px;
    }
}
