@font-face {
    font-family: "Inter";
    src: url("/fonts/inter-medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Inter";
    src: url("/fonts/inter-regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Inter";
    src: url("/fonts/inter-semibold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2');
    font-display: swap;
}
.PortfolioLayouts {
    padding-top: 100px;
}
.PortfolioLayouts h1 {
    margin: 0;
    padding: 0;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 62px;
    text-align: center;
    letter-spacing: -2.4px;
    color: #18214D;
    text-align: center;
}
.PortfolioLayouts strong {
    display: block;
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.55px;
    color: #18214D;
    text-align: center;
}
.PortfolioLayouts img {
    width: 100%;
}